body{
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    background-color: lightgray;
    text-decoration: underline;
    margin: 25px;
}
#tarefasContainer{
    margin-top: 20px;
    margin-left: 70px;
    display: flex;
    border-radius: 5px;
    gap: 20px;
}
#addtarefa{
    padding: 5px 10px;
    font-size: 12px;
    background-color: lightgray;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
#addtarefa:hover{
    background-color: gray;
    border: 2px dashed;
}
#tarefaInput{
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 5px;
    border: 1px solid lightgray;
}
#tarefaInput:focus{
    outline: none;
    border: 1px solid gray;
    margin-right: 5px;
}
#listadetarefas{
    list-style: none;
    padding: 0;
    margin-top: 20px;
    margin-left: 70px;
    width: 300px;
}
#listadetarefas li{
    background-color: lightgray;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}
#listadetarefas li:hover{
    background-color: gray;
    cursor: pointer;
    border: 2px dashed;
}
#listadetarefas li.completed{
    background-color: lightgray;
    text-decoration: line-through;
}
#listadetarefas li.completed button {
    text-decoration: none;
}
button.delete{
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
button.delete:hover{
    background-color: darkred;
    border: 2px solid;
}
button.complete{
    background-color: green;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}