body{
    background-color: lightgray;
    font-family: Arial, sans-serif;
}
img{
    padding-left: 25px;
    width: 250px;
}
h1{
    text-align: center;
    text-decoration: underline;
}
.nome{
    padding-left: 100px;
    text-decoration: underline;
}
.descricaoNome{
    padding-left: 150px;
    font-size: 18px;
    margin-right: 200px;
    color: rgb(63, 63, 63);
}
.linksContato{
    padding-left: 125px;
    font-size: 18px;
    margin-right: 200px;
    color: rgb(63, 63, 63);
}
h3{
    text-decoration: underline;
    color: black;
}
.linksBloco{
    padding-left: 25px;

}